{% trans_default_domain 'FOSUserBundle' %}
{% block fos_user_content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="This is the Home Page">
    <meta name="author" content="Ognomo Daniel Bakyono">
<link rel="stylesheet"
	href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
<link rel="stylesheet"
	href="{{ asset('assets/vendor/bootstrap/dist/css/narrow-jumbotron.css') }}">

    <title>Welcome to the LookIt website</title>
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              {% if user %}
              <a class="nav-link" href="{{ path('fos_user_security_logout') }}">{{ user.username }} Logout</a>
              
              {% else %}
              <a class="nav-link" href="{{ path('fos_user_security_login') }}"> Login</a>
              {% endif %}
      
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('fos_user_registration_register') }}">Register</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">LookIt</h3>
      </div>

      <div class="jumbotron">
        <h1 class="display-3">Welcome to LookIt</h1>
        <p class="lead">LookIt is a search engine that allows users to search through their document for information that are important to them. It allows members to have access to a space that they can use to store their documents and later look for a particular information in those documents.</p>
        <p><a class="btn btn-lg btn-success" href="{{ path('fos_user_registration_register') }}" role="button">Sign up today</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Cloud</h4>
          <p>We give our members access to the cloud so that they can store their documents and also manage their documents information.</p>

          <h4>Search Indexing</h4>
          <p>Our technology allows our members to search through huge number of their documents. We are offering an elaborate number of search options that allows our members to find the information that they need.</p>

          <h4>Security</h4>
          <p>We are offering to our customers the best securities technology to protect their data against threats.</p>
        </div>

        <div class="col-lg-6">
          <h4>Online Space Drive</h4>
          <p>We are offering to our member an aggregated 1GB space online that they can access to store their documents and manage their documents.</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; LookIt 2017</p>
      </footer>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
{% endblock fos_user_content %}
